<p id="notice"><%= notice %></p>

<div class="row mt-3">
  <div class="col-md-8">
    <div class="card">
      <div class="card-title p-1">
        <%= I18n.t('views.messages.recent_posts') %>
      </div>
      <div class="card-body p-0">
        <table class="table">
          <tbody>
            <% @team.articles.each do |article| %>
              <tr>
                <td><%= image_tag default_img(nil), size: '40x40' %></td>
                <td>
                  <%= link_to article_path(article) do %>
                    <span><%= article.team.name %><%= I18n.t('views.common.team') %></span>
                    <span class="badge bg-primary"><%= article.agenda.title %></span>
                    <%= article.title %>
                  <% end %>
                  <br>
                  <%= l(article.created_at, format: :long) %><%= I18n.t('views.messages.posted_at') %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
        <nav class="mt-2">
          <% @working_team.agendas.each do |agenda| %>
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
              <li class="nav-item has-treeview menu-open">
                <a href="#" class="nav-link">
                  <p>
                    <%= agenda.title %>
                    <i class="right fa fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview" style="display: block;">
                  <% agenda.articles.each do |article| %>
                    <li class="nav-item">
                      <%= link_to article_path(article), class: 'nav-link' do %>
                        <p><%= article.title %></p>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </li>
            </ul>
          <% end %>
        </nav>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- ./col -->

  <div class="col-md-4">
    <div class="card">
      <div class="card-title p-1">
        <%= @team.name %><%= I18n.t('views.messages.team_members') %>
      </div>
      <div class="card-body p-0">
        <table class="table">
          <tbody>
            <% @team.members.each do |member| %>
              <tr>
                <td><%= image_tag default_img(nil), size: '40x40' %></td>
                <td><%= member.email %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- ./col -->
</div>
